<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="media">
                    <img class="mr-3" width="60px" class='rounded img-thumbnail' src="..." alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="modal-title">Modal title</h5>
                        <div class='text-right'><small>by <kbd id="author"></kbd></small></div>
                        <p><small id='pcSummary'></small></p>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <table id="tabModalList" class="table table-sm table-striped table-condensed" style="width:100%"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
